.li{
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: rgb(101, 78, 163);
    flex-direction: row ;
    width: 811px;
    height: 473px;
    padding: 30px;
    
}
.li:hover{
   background-color: green;
}
.body{
    background-color: rgb(101, 78, 163);
}
.a{
    color: aliceblue;
}
.img{
    width: 450px;
    height: 300px;
    
}
.wrap{
    text-align: center;
    border: 1px;
}
.h{
    text-align: center;
}
.left{
    width: 20%;
    background-color: rgb(101, 78, 163);
    text-align: justify;
    padding: 15px;
    font-size: 18px;
    display: flex;
}
aside{
    display: block;
}
main{
    display: flex;
}
.right{
    width:79%;
    padding: 15px;
    background-color: rgb(	101, 78, 163);
}
.head{
    height: 120px;
    width: 650px;
}
.title {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.k{
    width: 450px;
    height: 350px;
}
footer{
    background: #d5c5b8;
    text-align: center;
    font-weight: bold;
}
